{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
<div id="sidebar">
        <h3>Каталог</h3>
        <ul>
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                <a href="{{ c.get_absolute_url }}">
                    {{ c.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% for product in products %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{%
                                else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br>
                    {{ product.price }} р.
                </div>
            {% endfor %}
        {% endif %}
        {% if not category %}
            <div class="block_contacts">
                <div class="content_contacts">
                    <h1 class="block_contacts-title">Наши контакты</h1>
                    <div class="block_contact-contact">
                        <p><span class="block_contact-contactSub">Телефон:</span><a class="block_contact-phone" href="tel:+7-911-920-74-84">+7 (812) 920-74-84</a></p>
                        <p><span class="block_contact-contactSub">Email:</span><a class="block_contact-mail" href="mailto:oooforward78@mail.ru">oooforward78@mail.ru</a></p>
                        <p class="block_contact-address"><span class="block_contact-contactSub">Адрес:</span>194292 г. Санкт-Петербург, ул. Домостроительная д. 4</p>
                    </div>


                    <div class="block_form">
                        <h1>НАПИСАТЬ НАМ</h1>
                        <div class="form-home__item">
                            <form action="">
                                <div class="block_contact-input">
                                    <input type="text" placeholder="Ваше имя">
                                    <input type="email" placeholder="Email">
                                    <input type="tel" placeholder="Телефон">
                                </div>
                                <div class="block_message-input">
                                    <p>
                                        <span style="position: relative;">  
                                            <textarea name="" id="" cols="40" rows="10" placeholder="Сообщение"></textarea>
                                        </span>
                                    </p>
                                </div>
                                <div class="block_button-submit">
                                    <button>Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <iframe style="margin-top: 60px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1991.309635589905!2d30.360270416177286!3d60.05966965929126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469634b6868a460d%3A0x1c96e7224bb85d18!2z0JTQvtC80L7RgdGC0YDQvtC40YLQtdC70YzQvdCw0Y8g0YPQuy4sIDQsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTQyOTI!5e0!3m2!1sru!2sru!4v1551690928259" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        {% endif %}
    </div> 
{% endblock %}