{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Доставка
{% endblock %}

{% block content %}
<div id="sidebar">
        <h3>Каталог</h3>
        <ul>
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                <a href="{{ c.get_absolute_url }}">
                    {{ c.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% for product in products %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{%
                                else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br>
                    {{ product.price }} р.
                </div>
            {% endfor %}
        {% endif %}
        {% if not category %}
            <div class="block_delivery">
                <h1>Доставка</h1>
            </div>
        {% endif %}
    </div> 
{% endblock %}