{% extends "shop/base.html" %}
{% load static %}

{% block title %}
 {% if category %}{{ category.name }}{% else %}Forward{% endif %}
{% endblock %}

{% block content %}
            <div class="product-lists">
            <h1>{{ subcategory.name }}</h1>
            <div class="items-catalog">
            {% for product in products %}
            {% if product.category == subcategory %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}
                                    {{ product.image.url }}
                                  {% else %}
                                    {% static "img/no_image.png" %}
                                  {% endif %}">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br>
                    {{ product.price }} р.
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="В корзину">
                    </form>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        
{% endblock %}